<form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div>
    <label for="images">Immagini del prodotto</label>
    <input type="file" id="images" (change)="onImageChange($event)" multiple accept="image/*" />
    <div *ngIf="submitted && productForm.get('images')?.errors">
      <small class="error">Seleziona almeno un'immagine.</small>
    </div>
  </div>

  <!-- Sezione per visualizzare l'immagine principale e le miniature -->
  <div class="image-preview-container">
    <div class="main-image">
      <img [src]="mainImagePreview" alt="Main Preview" />
      <button type="button" (click)="removeMainImage()" class="remove-button">X</button>
    </div>
    <div class="thumbnail-container">
      <div class="thumbnail" *ngFor="let preview of imagePreviews; let i = index">
        <img [src]="preview" alt="Thumbnail" />
      </div>
    </div>
  </div>

  <div>
    <label for="model">Modello</label>
    <div class="dropdown-group">
    <select name="model" formControlName="brand">
      <option></option>
      <option *ngFor="let model of models" [value]="model.id">
        {{model.nome}} - {{model.descrizione}}
      </option>
    </select>
    <button (click)="addModel()">Aggiungi Modello</button>
    </div>
  </div>

  <div>
    <label for="price">Prezzo (€)</label>
    <input id="price" formControlName="price" type="number" step="0.01" />
    <div *ngIf="submitted && productForm.get('price')?.errors">
      <small class="error">Inserisci un prezzo valido.</small>
    </div>
  </div>

  <div>
    <label for="publishStatus">
      <input id="publishStatus" formControlName="publishStatus" type="checkbox" />
      Pubblica sul sito e-commerce
    </label>
  </div>

  <!-- Sezione per taglie e quantità -->
  <div>
    <label>Taglie e Quantità</label>
    <div class="sizes-container">
      <div *ngFor="let size of availableSizes; let i = index" class="size-option">
        <button type="button" class="size-button">
          {{ size }}
          <div class="quantity-controls">
            <button type="button" (click)="increaseQuantity(i)" class="arrow up">&#9650;</button>
            <span>{{ quantities[i] }}</span>
            <button type="button" (click)="decreaseQuantity(i)" class="arrow down">&#9660;</button>
          </div>
        </button>
      </div>
    </div>
  </div>

  <button type="submit">Inserisci Prodotto</button>
</form>
