<form #shoeForm="ngForm" (ngSubmit)="inserimentoProdotti(shoeForm)" enctype="multipart/form-data">
  <div class="form-group">
    <label for="images">Immagini del prodotto</label>
    <input type="file" id="images" name="images"(change)="onImageChange($event)" multiple accept="image/*" ngModel />
    <div *ngIf="submitted && productForm.get('images')?.errors">
      <small class="error">Seleziona almeno un'immagine.</small>
    </div>
  </div>

  <!-- Sezione per visualizzare l'immagine principale e le miniature -->
  <div class="image-preview-container">
    <div class="main-image">
      <img [src]="mainImagePreview" alt="Main Preview" />
      <button type="button" (click)="removeMainImage()" class="remove-button">X</button>
    </div>
    <div class="thumbnail-container">
      <div class="thumbnail" *ngFor="let preview of imagePreviews; let i = index">
        <img [src]="preview" alt="Thumbnail" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" type="text" name="nome" [ngModel]="(this.actualProductSelected)?(this.actualProductSelected):''" required minlength="3" />
  </div>

  <div class="form-group">
    <label for="id_categoria">Categoria</label>
    <div class="dropdown-group">
      <select id="id_categoria" name="id_categoria" [(ngModel)]="shoe.category" (ngModelChange)="updateidSelected1()" #categoriaSelect>
        <option value="">Seleziona una categoria</option>
        <option *ngFor="let categoria of categorie" [value]="categoria.id">{{ categoria.nome_categoria }}</option>
      </select>
      <div class="dropdown">
        <button class="dropdown-toggle" type="button">{{ selectedCategoriaAction || 'Seleziona azione' }}</button>
        <div class="dropdown-menu">
          <button type="button" (click)="onCategoriaAction('Aggiungi')">Aggiungi</button>
          <button type="button" (click)="onCategoriaAction('Modifica')">Modifica</button>
          <button type="button" (click)="onCategoriaAction('Elimina')">Elimina</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Brand dropdown con menu a tendina per le opzioni -->
  <div class="form-group">
    <label for="id_brand">Brand</label>
    <div class="dropdown-group">
      <select id="id_brand" name="id_brand" [(ngModel)]="shoe.brand" (ngModelChange)="updateidSelected()" #brandSelect>
        <option value="" >Seleziona un brand</option>
        <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.nome }} - {{ brand.descrizione }}</option>
      </select>
      <div class="dropdown">
        <button class="dropdown-toggle" type="button">{{ selectedBrandAction || 'Seleziona azione' }}</button>
        <div class="dropdown-menu">
          <button type="button" (click)="onBrandAction('Aggiungi')">Aggiungi</button>
          <button type="button" (click)="onBrandAction('Modifica')">Modifica</button>
          <button type="button" (click)="onBrandAction('Elimina')">Elimina</button>
        </div>
      </div>
    </div>
  </div>  

  <!-- Selezione Colore -->
<div class="form-group">
  <label for="colori">Seleziona i Colori</label>
  <div class="color-picker">
    <div *ngFor="let color of primaryColors" 
         [style.background]="color" 
         class="color-ball" 
         [class.selected]="selectedColorsHex.includes(color)"
         (click)="selectColor(color)">
    </div>
  </div>
</div>


  <!-- Campo Descrizione -->
  <div class="form-group">
    <label for="descrizione">Descrizione</label>
    <textarea id="descrizione" name="descrizione" [(ngModel)]="shoe.description"></textarea>
  </div>
 
  <div>
    <label for="price">Prezzo (€)</label>
    <input id="prezzo" name="prezzo" step="0.01" ngModel/>
    <div *ngIf="submitted && productForm.get('price')?.errors">
      <small class="error">Inserisci un prezzo valido.</small>
    </div>
  </div>

  <div>
    <label for="publishStatus">
      <input id="stato_pubblicazione" name="stato_pubblicazione" type="checkbox" ngModel />
      Pubblica sul sito e-commerce
    </label>
  </div>

  <!-- Sezione per taglie e quantità -->
  <div>
    <label>Taglie e Quantità</label>
    <div class="sizes-container">
      <div *ngFor="let size of taglie; let i = index" class="size-option">
        <button type="button" class="size-button">
          {{ size.taglia }}
          <div class="quantity-controls">
            <button type="button" (click)="increaseQuantity(size.taglia)" class="arrow up">&#9650;</button>
            <span>{{ size.quantita }}</span>
            <input type="hidden" name="taglia" [ngModel]="size.taglia">
            <input type="hidden" name="quantita" [ngModel]="size.quantita">
            <button type="button" (click)="decreaseQuantity(size.taglia)" class="arrow down">&#9660;</button>
          </div>
        </button>
      </div>
    </div>
  </div>

    <!-- Messaggio di successo -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>    
    
  <button type="submit">Inserisci Prodotto</button>
  <p>  </p>
  <p>  </p>
  <p> g </p>
</form>
