<form #shoeForm="ngForm" (ngSubmit)="inserimentoProdotti(shoeForm)" enctype="multipart/form-data">
  <div class="form-group">
    <label for="images">Immagini del prodotto</label>
    <input type="file" id="images" name="images"(change)="onImageChange($event)" multiple accept="image/*" ngModel />
    <div *ngIf="submitted && productForm.get('images')?.errors">
      <small class="error">Seleziona almeno un'immagine.</small>
    </div>
  </div>

  <!-- Sezione per visualizzare l'immagine principale e le miniature -->
  <div class="image-preview-container">
    <div class="main-image">
      <img [src]="mainImagePreview" alt="Main Preview" />
      <button type="button" (click)="removeMainImage()" class="remove-button">X</button>
    </div>
    <div class="thumbnail-container">
      <div class="thumbnail" *ngFor="let preview of imagePreviews; let i = index">
        <img [src]="preview" alt="Thumbnail" />
      </div>
    </div>
  </div>

  <div>
    <label for="model">Modello</label>
    <div class="dropdown-group">
    <select id="id_modello" name="id_modello" ngModel>
      <option></option>
      <option *ngFor="let model of models" [value]="model.id">
        {{model.nome}} - {{model.descrizione}}
      </option>
    </select>
    <button (click)="addModel()">Aggiungi Modello</button>
    </div>
  </div>

  
  <div>
    <label for="price">Prezzo (€)</label>
    <input id="prezzo" name="prezzo" type="number" step="0.01" ngModel/>
    <div *ngIf="submitted && productForm.get('price')?.errors">
      <small class="error">Inserisci un prezzo valido.</small>
    </div>
  </div>

  <div>
    <label for="publishStatus">
      <input id="stato_pubblicazione" name="stato_pubblicazione" type="checkbox" ngModel />
      Pubblica sul sito e-commerce
    </label>
  </div>

  <!-- Sezione per taglie e quantità -->
  <div>
    <label>Taglie e Quantità</label>
    <div class="sizes-container">
      <div *ngFor="let size of taglie; let i = index" class="size-option">
        <button type="button" class="size-button">
          {{ size.taglia }}
          <div class="quantity-controls">
            <button type="button" (click)="increaseQuantity(size.taglia)" class="arrow up">&#9650;</button>
            <span>{{ size.quantita }}</span>
            <input type="hidden" name="taglia" [ngModel]="size.taglia">
            <input type="hidden" name="quantita" [ngModel]="size.quantita">
            <button type="button" (click)="decreaseQuantity(size.taglia)" class="arrow down">&#9660;</button>
          </div>
        </button>
      </div>
    </div>
  </div>

  <button type="submit">Inserisci Prodotto</button>
  <p>  </p>
  <p>  </p>
  <p> g </p>
</form>
