    <!-- Immagine scarpa -->
    <section class="hero">
        <img src="assets/images/prodotti/prodotto1.png" alt="Scarpa" class="hero-image">
    </section>

    <!-- Menù a scorrimento -->
    <section class="product-slider">
        <h2>Offerte Uomo</h2>
        <div class="slider">
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 1">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 2">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 3">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 4">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 5">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 6">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 7">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 8">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 9">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 10">
                </a>
            </div>
        </div>
    </section>

    <section class="product-slider">
        <h2>Offerte Donna</h2>
        <div class="slider">
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto2.png" alt="Prodotto 11">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto2.png" alt="Prodotto 12">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto2.png" alt="Prodotto 13">
                </a>
            </div>
        </div>
    </section>

    <section class="product-slider">
        <h2>Offerte Bambini</h2>
        <div class="slider">
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 14">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 15">
                </a>
            </div>
            <div class="product">
                <a routerLink="/articoli">
                    <img src="assets/images/prodotti/prodotto1.png" alt="Prodotto 16">
                </a>
            </div>
        </div>
    </section>
