<form #brandform="ngForm" (ngSubmit)="insertBrand(brandform)">
    <h3>Aggiungi Brand</h3>

    <!-- Campo Nome -->
    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" type="text" name="nome" ngModel required/>
    </div>

    <!-- Campo Descrizione -->
    <div class="form-group">
        <label for="descrizione">Descrizione</label>
        <textarea id="descrizione" name="descrizione" ngModel required></textarea>
    </div>

    <button type="submit">Inserisci Brand</button>
</form>
