<div class="account-container">
  <!-- Barra laterale -->
  <aside class="sidebar">
    <div class="user-info">
      <div class="avatar">{{ userInitials }}</div>
      <div class="user-name">{{ userName }}</div>
    </div>

    <nav class="menu">
      <a routerLink="/member/listaOrdini"> I miei ordini </a>
      <ul>
        <li *ngFor="let item of menuItems">
          <!-- Passiamo l'evento al metodo per prevenire la navigazione -->
          <a href="#" (click)="selectTab(item.value, $event)">{{ item.label }}</a>
        </li>
      </ul>
    </nav>
    
  </aside>

  <!-- Contenuto principale -->
  <main class="main-content">
      <router-outlet></router-outlet>  
  </main>
</div>
