<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BNS SHOP</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" title="Prodotti"  routerLink="/articoli">
          <span class="material-icons md-archive" title="prodotti" aria-hidden="true"></span>
          Prodotti
          </a>

          <a class="nav-link" title="Uomo"  routerLink="/uomo">
            <span class="material-icons md-archive" title="uomo" aria-hidden="true"></span>
            Uomo
          </a>

          <a class="nav-link" title="Donna"  routerLink="/donna">
            <span class="material-icons md-archive" title="donna" aria-hidden="true"></span>
            Donna
          </a>

          <a class="nav-link" title="Bambino"  routerLink="/bambino">
            <span class="material-icons md-archive" title="bambino" aria-hidden="true"></span>
            Donna
          </a>

          <a class="nav-link"  *ngIf="BasicAuth.isLogged() "   title="AggiungiProdotti"  routerLink="/grid">
            <span class="material-icons md-archive" title="AggiungiProdotti" aria-hidden="true"></span>
            Magazzino
          </a>

          <a class="nav-link"  *ngIf="BasicAuth.isLogged() "   title="AggiungiCodiciSconto"  routerLink="/addCodiceSconto">
            <span class="material-icons md-archive" title="AggiungiCodiciSconto" aria-hidden="true"></span>
            Codice Sconto
          </a>

        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="custom-search-button" type="submit">Cerca</button>
    </form>
    

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle thumbnail dduser" data-bs-toggle="dropdown" aria-expanded="false">
          <img title="user" class="img-circle" src="/assets/images/user.png" width="38" height="38">
        </button>
        <ul class="dropdown-menu">
          <span *ngIf="isLogged()===true">
            <!--{{utente.email}}-->
          </span>
          <span *ngIf="isLogged()===false">
             <li><a class="dropdown-item" routerLink="/login">Accedi</a></li>
             <li><a class="dropdown-item" routerLink="/new-user">Registrati</a></li>
          </span>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" *ngIf="BasicAuth.isLogged()" routerLink="/member">Profilo</a></li>
          <li><a class="dropdown-item" *ngIf="BasicAuth.isLogged()" routerLink="">Ordini</a></li>
          <li><a class="dropdown-item" *ngIf="BasicAuth.isLogged()" routerLink="/logout">Logout</a></li>
          <li><a class="dropdown-item disabled" *ngIf="!BasicAuth.isLogged()"  href="#">Logout</a></li>

        </ul>
      </div>

      <a type="button" routerLink="/cart" >
        <img title="user" class="img-circle" src="\assets\images\carrello.png" width="60" height="50">
      </a>

    </div>
  </div>
</nav>