:root {
    --primary-color: #f09009;
    --secondary-color: #848586;
    --accent-color: #FFA500; /* Arancione vivace */
    --background-color: #fafafa;
    --light-bg: #f2f2f2;
    --card-bg: #fff;
    --border-color: #ccc;
    --box-shadow: rgba(0, 0, 0, 0.1);
  }
/* Stile generale per la barra di navigazione */

.navbar {
    background-color: #2c3e50; /* Colore di sfondo scuro */
    border-bottom: 2px solid #f09009; /* Bordo inferiore verde */
}

.navbar-brand {

    color: #f09009; /* Colore bianco per maggiore leggibilità */
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #848586; /* Verde chiaro in hover */
}

.navbar-toggler {
    border: none;
    color: #f09009;
}

.navbar-toggler-icon {
    filter: invert(100%); /* Cambia il colore dell'icona per vederla su sfondo scuro */
}

/* Stile per i link di navigazione */
.nav-link {
    color: #f09009; /* Colore bianco per leggibilità */
    font-size: 1rem;
    margin-right: 15px;
    transition: color 0.3s ease;
    display: inline-block; /* Mostra i link uno accanto all'altro */
}

.nav-link:hover {
    color: #848586; /* Verde chiaro in hover */
}

/* Posizionamento dei link "Prodotti" e "Aggiungi Prodotti" */
.nav-item {
    display: flex;
    align-items: center;
}

.nav-item .nav-link + .nav-link {
    margin-left: 15px; /* Spazio tra "Prodotti" e "Aggiungi Prodotti" */
}

/* Stile per il pulsante di ricerca */
.custom-search-button {
    background-color: #848586; /* Colore pulsante verde */
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-search-button:hover {
    background-color: #848586; /* Colore scuro in hover */
    transform: scale(1.05); /* Leggera espansione */
}

/* Stile per l'input di ricerca */
.form-control {
    border-radius: 20px;
    border: 1px solid #848586; /* Bordo verde per richiamare lo stile */
    background-color: #34495e;
    color: #ffffff;
}

.form-control::placeholder {
    color: #bdc3c7;
}

/* Stile per le immagini */
.img-circle {
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: border-color 0.3s ease;
}

.img-circle:hover {
    border-color: #848586;
}

/* Stile per il menu a discesa utente */
.dropdown-menu {
    background-color: #34495e;
    border: none;
}

.dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #848586;
    color: #ffffff;
}

/* Stile per l'icona carrello */
a[type="button"] img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

a[type="button"] img:hover {
    transform: scale(1.1);
}

/* Migliora lo spazio interno */
.navbar .btn-group, .navbar .form-control, .navbar .dropdown-toggle {
    margin-left: 15px;
    margin-right: 15px;
}
