<form #shoeForm="ngForm" (ngSubmit)="onSubmit(shoeForm)">
    <h2>Aggiungi Modello</h2>
    <!-- Campo Nome -->
    <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" name="name" [(ngModel)]="shoe.name" required minlength="3" />
    </div>

    <!-- Categoria dropdown con pulsante di aggiungi -->
    <div>
        <label for="category">Categoria</label>
        <div class="dropdown-group">
        <select id="category"  name="category" formControlName="category">
          <option></option>
          <option *ngFor="let categoria of categorie" [value]="categoria.id">
            {{categoria.nome_categoria}}
          </option>
        </select>
        <button type="button" (click)="addCategory()">Aggiungi</button>
        </div>
    </div>

    <!-- Brand dropdown con pulsante di aggiungi-->
    <div>
        <label for="brand">Brand</label>
        <div class="dropdown-group">
        <select id="brand" formControlName="brand">
          <option></option>
          <option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.nome}} - {{brand.descrizione}}
          </option>
        </select>
        <button type="button" (click)="addBrand()">Aggiungi</button>
        </div>
    </div>

    <!-- Campo Descrizione -->
    <div class="form-group">
        <label for="description">Descrizione</label>
        <textarea id="description" name="description" [(ngModel)]="shoe.description"></textarea>
    </div>

    <!-- Pulsante di submit -->
    <button type="submit" [disabled]="shoeForm.invalid">Salva Modello</button>
</form>
