.content-main {
  padding: 30px 3%;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 0;
  border-bottom: 2px solid #e9ecef;
}

.content-header a {
  margin-right: 10px;
  padding: 8px 15px;
  font-size: 14px;
  color: #495057;
  background-color: #f1f3f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.content-header a:hover {
  background-color: #e2e6ea;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.content-header .content-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #212529;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #495057;
}

.card-text {
  font-size: 14px;
  color: #868e96;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
  background-color: #848586;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #3b3c3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-danger {
  background-color: #f09009;
  color: #ffffff;
  border: none;
}

.btn-danger:hover {
  background-color: #f56206;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenitore per immagine e video */
.media-container, .image-carousel {
  position: relative;
  width: 100%;
  height: 200px; /* Altezza fissa per il contenitore */
  overflow: hidden;
  border-radius: 8px;
}

/* Immagine e video si adattano al contenitore */
.carousel-image, .carousel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  visibility: hidden;
}

.media-container:hover .carousel-controls {
  visibility: visible;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  margin-left: 10px;
}

.carousel-button.right {
  margin-right: 10px;
}

.img-circle {
  border-radius: 50%;
  transition: transform 0.3s;
}

.img-circle:hover {
  transform: scale(1.1);
}

.form-control,
.form-select {
  border-radius: 4px;
  border: 1px solid #ced4da;
  transition: box-shadow 0.3s;
}

.form-control:focus,
.form-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
