<app-jumbotron [Titolo]="titolo" [SottoTitolo]="sottotitolo"></app-jumbotron>

<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form">
          <h3>Login Form</h3>
          <form #loginform="ngForm" (ngSubmit)="loginNow(loginform)">
          <div class="form-group">
              <input type="text" class="form-control" name="username" id="username" placeholder="Nome Utente" ngModel  required>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel required>
          </div>
          <div class="form-group">
              <button type="submit" class="btnSubmit">Connetti</button>
          </div>
          <div class="form-group">
                  <a href="#" class="ForetPwd">Password Dimenticata?</a>
          </div>
          <div *ngIf="errMsg" class="alert alert-danger" role="alert">
              {{errMsg}}
          </div>
          </form>
      </div>
  </div>
</div>

