<app-jumbotron [Titolo]="titolo" [SottoTitolo]="sottotitolo"></app-jumbotron>

<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form">
          <h3>Registrazione</h3>
          <form #registerform="ngForm" (ngSubmit)="doRegister(registerform)">
          <div class="form-group">
              <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required ngModel >
          </div>
          <div class="form-group">
              <input type="text" class="form-control" name="cognome" id="cognome" placeholder="Cognome" required ngModel>
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="data_nascita" id="data_nascita" placeholder="Data" required ngModel>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="luogo_nascita" id="luogo_nascita" placeholder="luogo_nascita" required ngModel>
          </div>
          <div class="form-group" >
            <select name="sesso" id="sesso" required ngModel>
                <option value="maschio">Uomo</option>
                <option value="femmina">Donna</option>
                <option value="altro">Altro</option>
            </select>
          </div>
          <div class="form-group">
            <input type="email" [formNoValidate]="12/11/2023" class="form-control" name="email"  id="email" placeholder="Indirizzo E-Mail" required ngModel>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required ngModel>
          </div>
          <div class="form-group">
            <input type="text" [minLength]="10" maxlength="10" class="form-control" name="telefono" id="telefono" placeholder="Cellulare" required ngModel>
          </div>
          <div class="form-group">
              <button type="submit" class="btnSubmit">Registrati</button>
          </div>
          {{message}}
          </form>
        </div>
  </div>
</div>

