<div class="container">
    <aside class="filters">
      <h2>Filtri</h2>
      <div *ngFor="let categoria of tutteLeCategorie">
        <label>
          <input type="checkbox" (change)="applicaFiltri(categoria)"> {{ categoria }}
        </label>
      </div>
    </aside>
  
    <main class="product-grid">
      <div *ngFor="let articolo of articoliFiltrati" class="product">
        <img 
          [src]="sanitizer.bypassSecurityTrustUrl(articolo.imageUrl)" 
          [alt]="articolo.descrizione || 'Immagine di prodotto'" 
          title="{{ articolo.descrizione }}" 
          class="main-image" 
        />
        <div class="thumbnail-container">
          <img *ngFor="let img of articolo.imageUrls" 
               [src]="sanitizer.bypassSecurityTrustUrl(img)" 
               [alt]="'Miniatura di ' + articolo.descrizione" 
               title="{{ 'Miniatura di ' + articolo.descrizione }}" 
               (click)="cambiaImmagine(img, articolo)" 
               class="thumbnail" 
          />
        </div>
        <h3>{{ articolo.descrizione }}</h3>
        <p>€{{ articolo.prezzo | number:'1.2-2' }}</p>
        <p>Codice: {{ articolo.codart }}</p>
      </div>
    </main>
  </div>
  