<div class="container"> 
  <aside class="filters">
    <h2>Filtri</h2>
      <form #filterForm="ngForm" (ngSubmit)="ApplicaFiltri(filterForm)"> 

      <!-- Gruppo di filtri per Genere -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('genere')">
          Genere
          <span [class]="isGroupExpanded('genere') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options" *ngIf="isGroupExpanded('genere')">
          <label *ngFor="let genere of generi">
            <input type="checkbox"  [name]="genere"  ngModel> {{ genere }}
          </label>
        </div>
      </div>

      <!-- Gruppo di filtri per Prezzo -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('prezzo')">
          Acquista per Prezzo
          <span [class]="isGroupExpanded('prezzo') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options" *ngIf="isGroupExpanded('prezzo')">
          <label>
            Inferiore a <input type="number" name="prezzoInferiore" ngModel>
          </label>
          <label>
            Superiore a <input type="number" name="prezzoSuperiore" ngModel>
          </label>
        </div>
      </div>

 
      <!-- Filtri per Colore -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('colore')">
          Colore
          <span [class]="isGroupExpanded('colore') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options color-filter" *ngIf="isGroupExpanded('colore')">
          <label *ngFor="let colore of colori" class="color-option">
            <input type="checkbox" [name]="colore" ngModel>
            <span class="color-circle" [style.background]="colore"></span>
            {{ colore }}
          </label>
        </div>
      </div>

      <!-- Filtri per Taglia -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('taglia')">
          Taglia/Misura
          <span [class]="isGroupExpanded('taglia') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options size-filter" *ngIf="isGroupExpanded('taglia')">
          <label *ngFor="let taglia of taglie" class="size-option">
            <input type="checkbox" [name]="taglia" ngModel>
            <span class="size-box">{{ taglia }}</span>
          </label>
        </div>
      </div>


      <!-- Gruppo di filtri per Brand -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('brand')">
          Brand
          <span [class]="isGroupExpanded('brand') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options" *ngIf="isGroupExpanded('brand')">
          <label *ngFor="let brand of brands">
            <input type="checkbox"[name]="brand" ngModel> {{ brand }}
          </label>
        </div>
      </div>

      <!-- Gruppo di filtri per Categoria -->
      <div class="filter-group">
        <h3 (click)="toggleGroup('categoria')">
          Categoria
          <span [class]="isGroupExpanded('categoria') ? 'arrow-down' : 'arrow-right'"></span>
        </h3>
        <div class="filter-options" *ngIf="isGroupExpanded('categoria')">
          <label *ngFor="let categoria of tutteLeCategorie">
            <input type="checkbox"[name]= "categoria" ngModel> {{ categoria }}
          </label>
        </div>
      </div>
      <button type="submit">Applica filtri</button>
    </form>
  </aside>

  <main class="product-grid">
    <div class="product" *ngFor="let prodotto of prodottiFiltrati">
      <a class="product-link" (click)="viewProduct(prodotto.prodotto.id)"> 
        <div class="image-wrapper">
          <img 
            [src]="generateUrl(prodotto.immagini[currentImageIndex[prodotto.prodotto.id] || 0])"
            class="main-image" 
            alt="{{ prodotto.prodotto.nome_modello }}"
          />
        </div>
        <div class="thumbnail-container">
          <img  
            (mouseenter)="showThumbnails" 
            class="thumbnail" 
            alt="Anteprima prodotto"
          />
        </div>
        <p class="price">€ {{ prodotto.prodotto.prezzo }}</p>
        <p class="model">{{ prodotto.prodotto.nome_modello }}</p>
      </a>
    </div>
  </main>
</div>
